html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #222;
    background-color: #fff;
}

/* header */

.sticky-header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
}

.sticky-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 1rem;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #000000;
}

.sticky-header p {
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    margin: 0;
}

.burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 6px;
    z-index: 1000;
}

.burger-menu span {
    width: 35px;
    height: 4px;
    background-color: black;
    border-radius: 2px;
}

.nav-links {
    display: none;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.nav-links.active {
    display: flex; /* Show when active */
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}

/* hero-section */

.hero-section {
    background-color: #fff;
}

.hero-section-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-section-container h2 {
    margin: 0;
    font-size: 35px;
}

.hero-section-container p {
    margin: 0;
}

.hero-section-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hero-section-buttons>button:first-child {
    border-radius: 24px;
    background: #000;
    color: #fff;
    border: none;
    font-size: 20px;
    padding: 11px 0;
}

.hero-section-buttons>button:last-child {
    border-radius: 24px;
    background: #fff;
    color: #000;
    border: 1px solid black;
    font-size: 20px;
    padding: 10px 0;
}

.hero-section-img {
    padding: 0 5%;
}

.hero-section-img>img {
    width: 100%;
    height: auto;
    border-radius: 24px;
    object-fit: cover;
    display: block;
}

/* about-section */

.about-section {
    background-color: #f7f7f7; /* очень светло-серый */;
}

.about-section-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-section-container h2 {
    margin: 0;
    font-size: 35px;
}

.about-section-container p {
    margin: 0;
}

.about-section-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
    .about-section-list>h3>img {
        width: 16px;
        height: 16px;
        padding-right: 5px;
    }

    .about-section-list>h3 {
        display: flex;
        align-items: center;
    }

    .about-section-list>h3, .about-section-list>p {
        font-size: 12px;
        margin: 0;
    }

.about-section-img {
    padding: 0 5%;
}

.about-section-img>img {
    width: 100%;
    height: auto;
    border-radius: 24px;
    object-fit: cover;
    display: block;
}